!!!
%html
  %head
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no", :name => "viewport"}

    %title
      Andres Alvarez
      #{' :: ' + current_page.data.title unless current_page.data.title.nil? }

    / Bootstrap CSS
    = stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"

    / GOOGLE FONTS
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Open+Sans|Roboto'
    = stylesheet_link_tag "https://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic"
    = stylesheet_link_tag "https://fonts.googleapis.com/css?family=Montserrat:400,700"

    / FontAwesome
    = stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"

    = stylesheet_link_tag :base

    = javascript_include_tag 'jquery-1.11.2.min'
    = javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'
    = javascript_include_tag :all

    / FAVICON
    = favicon_tag 'images/favicon.png'

  %body{:class => page_classes}
    = partial "header"

    .container.sections-wrapper
      .row
        .primary.col-md-8.col-sm-12.col-xs-12
          = yield
        .secondary.col-md-4.col-sm-12.col-xs-12
          = partial 'info'
          = partial 'skills'
          = partial 'education'
          = partial 'languages'
          = partial 'certificates'
          = partial 'contributions'