%section.about.section
  .section-inner
    %h2.heading About Me
    .content
      .row
        .col-md-3
          = image_tag 'pictures/xitou.jpg', class: 'img-rounded'
        .col-md-3
          = image_tag 'pictures/nanhu.jpg', class: 'img-rounded'
        .col-md-3
          = image_tag 'pictures/luguang.jpg', class: 'img-rounded'
        .col-md-3
          = image_tag 'pictures/hiroshima.jpg', class: 'img-rounded'

      %br

      .row.text-center
        .col-md-12
          %p
            Hello! I am
            %strong Andrés
            , a web developer from
            = succeed "." do
              %strong Honduras

          %p I focus mainly on back-end web development using Ruby on Rails, but I am also a good Python programmer with experience in using various monitoring tools and cloud computing technologies.

          %p When I am not coding, I love to spend my time playing flamenco guitar, weight training, learning languages, hiking, diving, exploring new places, planning my next adventure, learning new things and just trying to become better everyday.