%header.header
  .container
    = link_to 'index.html' do
      = image_tag 'http://bigchief45.github.io/images/pictures/header_image.jpg', class: 'profile-image img-responsive pull-left img-circle'
    .profile-content.pull-left
      %h1.name Andrés Álvarez
      %h2.desc Software Engineer / Web Developer
      %ul.social.list-inline
        %li
          = link_to 'mailto:andresalvarez353@gmail.com' do
            %i.fa.fa-envelope
        %li
          = link_to 'http://tw.linkedin.com/in/aalvarez4', target: '_blank' do
            %i.fa.fa-linkedin
        %li.last-item
          = link_to 'http://www.github.com/bigchief45', target: '_blank' do
            %i.fa.fa-github-alt
    %ul.list-inline.pull-right
      %li= link_to 'ABOUT', 'http://aalvarez.me/', class: 'btn btn-cta-primary'
      %li= link_to 'BLOG', 'http://aalvarez.me/blog/', class: 'btn btn-cta-primary'