%section.latest.section
  .section-inner
    %h2.heading Latest Projects
    .content
      .alert.alert-warning
        %ul.fa-ul.small
          %li
            %i.fa-li.fa.fa-warning>
            Most of my application projects are deployed to
            = succeed "," do
              %a{:href => "https://www.heroku.com/", :target => "_blank"}
                %strong Heroku
          %li
            %i.fa-li.fa.fa-info-circle>
            You can use a test account (
            %strong username:
            = succeed "," do
              %i test@test.com
            %strong password:
            = succeed ")" do
              %i 12345678
      %hr/
      / FEATURED: NOURISH
      .item.featured.text-center
        %h3.title
          %a{:href => "http://nourishapp.herokuapp.com", :target => "_blank"} Nourish
        %p.summary
          Personal meal plans delivered straight to your home
          %br/
          %span.label.label-danger Ruby on Rails
        .featured-image
          %a{:href => "http://nourishapp.herokuapp.com", :target => "_blank"}
            = image_tag 'portfolio/nourish/nourish1.jpg', class: 'img-responsive project-image img-rounded'
          .ribbon
            .text New
        .desc.text-left
          %p Nourish is a platform where users can create personal meal plans. Meals can be choosen from a variety of delicious available meals cooked by the chefs. Each day from Monday to Friday, users will receive their selected breakfast, lunch, and dinner meals for that day, according to their meal plan.
          %p
            Meals obtained from
            %a{:href => "http://www.allrecipes.com", :target => "_blank"} www.allrecipes.com
          %p
            %strong Features:
          %ul.fa-ul
            %li.small
              %i.fa-li.fa.fa-check.text-success>
              Wide variety of meals in the platform.
            %li.small
              %i.fa-li.fa.fa-check.text-success>
              Users can review and rate meals.
            %li.small
              %i.fa-li.fa.fa-check.text-success>
              Users can create meal plans for each day from Monday to Friday.
            %li.small
              %i.fa-li.fa.fa-check.text-success>
              Scheduled tasks for creating daily orders for each meal time for each user, using
              = succeed "." do
                %a{:href => "https://devcenter.heroku.com/articles/scheduler", :target => "_blank"} Heroku Scheduler
            %li.small
              %i.fa-li.fa.fa-check.text-success>
              Authorization system for admins, users, chefs, and couriers. Using
              = succeed "," do
                %b Devise
              %b CanCan
              and
              %b Rolify
            %li.small
              %i.fa-li.fa.fa-check.text-success>
              Testing suite using
              %b Rspec
              and
              %b FactoryGirl
            %li.small
              %i.fa-li.fa.fa-check.text-success>
              Code coverage using
              %b simplecov
            %li.small
              %i.fa-li.fa.fa-check.text-success
              %a{:href => "http://getbootstrap.com/", :target => "_blank"} Bootstrap 3
              for front-end.
            %li.small
              %i.fa-li.fa.fa-times.text-danger>
              Pricing Plans and Stripe integration.
        / //desc
        %p
        %ul.list-inline
          %li
            %a.more-link.small{:href => "http://nourishapp.herokuapp.com/", :target => "_blank"}
              %i.fa.fa-external-link
              View Application
          %li
            %a.more-link.small{:href => "https://github.com/BigChief45/Nourish", :target => "_blank"}
              %i.fa.fa-github-square
              View on Github
      / //item
      %hr.divider

      / HACKSPOTS
      .item.row
        %a.col-md-4.col-sm-4.col-xs-12{:href => "#", :target => "_blank"}
          = image_tag 'portfolio/hackspots/hackspots_logo.png', class: 'img-responsive project-image img-rounded'
        .desc.col-md-8.col-sm-8.col-xs-12
          %h3.title
            %a{:href => "#", :target => "_blank"} Hackspots
            .pull-right
              %span.label.label-danger Ruby on Rails
              %span.label.label-warning EmberJS
          %p A Ruby on Rails API application that serves JSON information about good Hackspots (places where you can work remotely) around the world, combined with a client application made using EmberJS.
          %p
            %strong Features:
          %ul.fa-ul
            %li.small
              %i.fa-li.fa.fa-check.text-success
              RESTful Rails 5 API only application using
              = link_to 'JSON API specification', 'http://jsonapi.org/', target: '_blank'
            %li.small
              %i.fa-li.fa.fa-check.text-success
              API Versioning
            %li.small
              %i.fa-li.fa.fa-check.text-success
              JSON API Serialization/Deserialization using
              = link_to 'ActiveModelSerializers', 'https://github.com/rails-api/active_model_serializers', target: '_blank'
            %li.small
              %i.fa-li.fa.fa-check.text-success
              API authentication using
              = link_to 'JSON Web Tokens (JWT)', 'https://en.wikipedia.org/wiki/JSON_Web_Token', target: '_blank'
            %li.small
              %i.fa-li.fa.fa-check.text-success
              Testing suite using RSpec.

            %br

            %li.small
              %i.fa-li.fa.fa-times.text-danger
              Client application using EmberJS.

          %ul.list-inline
            %li
              = link_to 'https://github.com/BigChief45/hackspots-api', target: '_blank', class: 'more-link small' do
                %i.fa.fa-github-square
                View API on Github
        / //desc
      / //item
      %hr.divider

      / JUSTIX
      .item.row
        %a.col-md-4.col-sm-4.col-xs-12{:href => "http://justix.herokuapp.com", :target => "_blank"}
          = image_tag 'portfolio/justix/justix.jpg', class: 'img-responsive project-image img-rounded'
        .desc.col-md-8.col-sm-8.col-xs-12
          %h3.title
            %a{:href => "http://justix.herokuapp.com", :target => "_blank"} Justix
            .pull-right
              %span.label.label-danger Ruby on Rails
          %p Justix helps lawyers manage and keep their cases ordered for easy access and assesment. Lawyers can easily manage and keep records of their clients, evidences, witnesses, cases, and many other elements, everything inside Justix.
          %p
            %strong Features:
          %ul.fa-ul
            %li.small
              %i.fa-li.fa.fa-check.text-success>
              One account for each law firm, with different pricing plans available.
            %li.small
              %i.fa-li.fa.fa-check.text-success>
              Management of clients, witnesses, and counterpart person objects.
            %li.small
              %i.fa-li.fa.fa-check.text-success>
              Management of cases.
            %li.small
              %i.fa-li.fa.fa-check.text-success>
              Assignment of clients, witnesses, and counterparts to cases.
            %li.small
              %i.fa-li.fa.fa-check.text-success>
              Log journal management for each case.
            %li.small
              %i.fa-li.fa.fa-check.text-success>
              Evidence management for each case, using Amazon S3 for storage.
            %li.small
              %i.fa-li.fa.fa-check.text-success
              %a{:href => "http://getbootstrap.com/", :target => "_blank"} Bootstrap 3
              for front-end with custom theme.
          %p
          %ul.list-inline
            %li
              %a.more-link.small{:href => "http://justix.herokuapp.com", :target => "_blank"}
                %i.fa.fa-external-link
                View Application
            %li
              %a.more-link.small{:href => "https://github.com/BigChief45/Justix", :target => "_blank"}
                %i.fa.fa-github-square
                View on Github
        / //desc
      / //item
      %hr.divider

      / LIKOR
      .item.row
        %a.col-md-4.col-sm-4.col-xs-12{:href => "http://guaro.herokuapp.com", :target => "_blank"}
          = image_tag 'portfolio/likor/likor.jpg', class: 'img-responsive project-image img-rounded'
        .desc.col-md-8.col-sm-8.col-xs-12
          %h3.title
            %a{:href => "http://guaro.herokuapp.com", :target => "_blank"} Likor
            .pull-right
              %span.label.label-danger Ruby on Rails
          %p
            An alcohol delivery service application where clients can place their orders on a wide variety of alcohol products. The products
            are stored in many different locations throughout the city, and the application automatically determines the closest storage location from the client, using the
            = succeed "." do
              %a{:href => "http://www.rubygeocoder.com/", :target => "_blank"} Geocoder gem
          %p Couriers can then pick up the products from the assigned storage location, and then deliver it to the client's address. Marking the order as 'complete' after delivery.
          %p
            %strong Features:
          %ul.fa-ul
            %li.small
              %i.fa-li.fa.fa-check.text-success>
              Administrator and courier accounts.
            %li.small
              %i.fa-li.fa.fa-check.text-success>
              Authorization of actions for courier, clients, and administrators using
              %a{:href => "https://github.com/CanCanCommunity/cancancan", :target => "_blank"} CanCan
              and
              %a{:href => "https://github.com/RolifyCommunity/rolify", :target => "_blank"} Rolify
              gems.
            %li.small
              %i.fa-li.fa.fa-check.text-success>
              Management of storage locations.
            %li.small
              %i.fa-li.fa.fa-check.text-success>
              Product Inventory management per each storage location.
            %li.small
              %i.fa-li.fa.fa-check.text-success>
              Order placements by clients.
            %li.small
              %i.fa-li.fa.fa-check.text-success>
              Order assignment and taking by administrators and couriers.
            %li.small
              %i.fa-li.fa.fa-check.text-success>
              Automatic storage location assignment to orders using
              %a{:href => "http://www.rubygeocoder.com/", :target => "_blank"} Geocoder
              gem.
            %li.small
              %i.fa-li.fa.fa-check.text-success>
              Google Maps integration.
            %li.small
              %i.fa-li.fa.fa-check.text-success
              %a{:href => "http://getbootstrap.com/", :target => "_blank"} Bootstrap 3
              for front-end.
          %p
          %ul.list-inline
            %li
              %a.more-link.small{:href => "http://guaro.herokuapp.com", :target => "_blank"}
                %i.fa.fa-external-link
                View Application
            %li
              %a.more-link.small{:href => "https://github.com/Appcoholic/AppcoholicBackend", :target => "_blank"}
                %i.fa.fa-github-square
                View on Github
        / //desc
      / //item
      %hr.divider

      / HOURGLASS
      .item.row
        %a.col-md-4.col-sm-4.col-xs-12{:href => "http://hourglazz.herokuapp.com", :target => "_blank"}
          = image_tag 'portfolio/hourglass/hourglass_logo.png', class: 'img-responsive project-image img-rounded'
        .desc.col-md-8.col-sm-8.col-xs-12
          %h3.title
            %a{:href => "http://hourglazz.herokuapp.com", :target => "_blank"} Hourglass
            .pull-right
              %span.label.label-danger Ruby on Rails
          %p
            %strong Time
            is the most important thing we got, and with Hourglass I can keep track of how I spend my time.
          %p For all activities that I am interested in, I can log how many hours I spend on them in order to get better at them. Easy, small, and simple to use.
          %p
            %strong Features:
          %ul.fa-ul
            %li.small
              %i.fa-li.fa.fa-check.text-success
              Time recording and tracking of unlimited activities.
            %li.small
              %i.fa-li.fa.fa-check.text-success
              Views loading through AJAX
            %li.small
              %i.fa-li.fa.fa-check.text-success
              Show amount of hours spent in an activity for each session in a calendar
              view, Github contributions style.
            %li.small
              %i.fa-li.fa.fa-check.text-success
              %a{:href => "http://getbootstrap.com/", :target => "_blank"} Bootstrap 3
              for front-end.
            %li.small
              %i.fa-li.fa.fa-check.text-success
              Continuous integration using
              = link_to 'TravisCI', 'http://www.travisci.org', target: '_blank'
              and
              = link_to 'Heroku', 'http://www.heroku.com', target: '_blank'
          %p
          %ul.list-inline
            %li
              %a.more-link.small{:href => "http://hourglazz.herokuapp.com", :target => "_blank"}
                %i.fa.fa-external-link
                View Application
            %li
              %a.more-link.small{:href => "https://github.com/BigChief45/Hourglass", :target => "_blank"}
                %i.fa.fa-github-square
                View on Github
        / //desc
      / //item
      %hr.divider

      / TERRATNT.COM
      .item.row
        %a.col-md-4.col-sm-4.col-xs-12{:href => "http://terratnt.herokuapp.com/", :target => "_blank"}
          = image_tag 'portfolio/terratnt/terratnt.jpg', class: 'img-responsive project-image img-rounded'
        .desc.col-md-8.col-sm-8.col-xs-12
          %h3.title
            %a{:href => "http://terratnt.herokuapp.com/", :target => "_blank"} Terratnt.com
            .pull-right
              %span.label.label-danger Ruby on Rails
          %p
            Terratnt.com is an online real estate listing platform aimed at Honduras, inspired by a similar platform:
            %a{:href => "http://www.591.com.tw", :target => "_blank"} 591.com.tw from Taiwan
          %p Terratnt.com serves as a platform where users can list their own properties that are for sale or for rent, to other users. It displays information in a very clean and neat fashion, and makes navigation super easy for users, without any distractions.
          %p
            %strong Features:
          %ul.fa-ul
            %li.small
              %i.fa-li.fa.fa-check.text-success>
              Registering properties for rent or sale.
            %li.small
              %i.fa-li.fa.fa-check.text-success>
              Uploading multiple images for the properties.
            %li.small
              %i.fa-li.fa.fa-check.text-success>
              Commenting system on properties page.
            %li.small
              %i.fa-li.fa.fa-check.text-success>
              Image galeries for properties.
            %li.small
              %i.fa-li.fa.fa-check.text-success>
              Search for properties and apply filters.
            %li.small
              %i.fa-li.fa.fa-check.text-success
              %a{:href => "http://getbootstrap.com/", :target => "_blank"} Bootstrap 3
              for front-end.
          %p
          %ul.list-inline
            %li
              %a.more-link.small{:href => "http://terratnt.com", :target => "_blank"}
                %i.fa.fa-external-link
                View Application
        / //desc
      / //item
    / //content
  / //section-inner
/ //section